name: manual-sync

# 触发器：只允许通过 GitHub 界面手动点击运行
on:
  workflow_dispatch:
    inputs:
      run_reason:
        description: '执行原因/备注'
        required: false
        default: '执行手动同步任务'

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy to Plugin Repo
        uses: peaceiris/actions-gh-pages@v3
        with:
          # 使用 personal_token 参数传入你的 PAT
          personal_token: ${{ secrets.ACCESS_TOKEN }}

          external_repository: pjnt9372/Capture_Push_Plugin
          
          # 要推送的本地文件夹
          publish_dir: ./developer_space
          
          # 推送到目标仓库的 main 分支
          publish_branch: main
          
          # 强制覆盖
          force_orphan: true
          
          # 提交信息
          commit_message: $
